body{
    margin: 0%;
}
.boarder{
    width: 100%;
    height: 80px;
    background-color: rgb(251, 246, 218);
}
#yum{
    width: 100px;
    height: 70px;
    padding-left:0px;
}
#icn{
    width: 40px;
    height: 40px;
    float: right;
    padding-right:60px ;
    padding-top: 30px;
}
#choco{
    color: rgb(97, 54, 24);
    font-size: 20px;
    text-decoration: none;
    padding-right: 20px;
    margin-top: 90px;
}
.content{
    width: 100%;
    height: 400px;
    
}
#pic{
    width: 50%;
    height: 500px;
    float: left;;

}
.cards{
    background-color:  rgb(251, 246, 218);
    width: 100%;
    height: 100%;
}
#ch{
    width: 100px;
    height: 100px;
    padding-left: 150px;
    padding-top: 10px;
    border-radius: 10px;

}
.footer{
    font-size: 15px;
    text-align: center;
    padding-top: 10px;
}
#cp{
    text-decoration: none;
    color: rgb(65, 26, 6);
    
}